@charset "utf-8";

html, body{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
}
.modalon {
  background-color: #000;
}
h1,ul,li{
  padding: 0;
  margin: 0;
}
li {
  list-style: none
}

img {
  width: 48px;
  height: auto;
}
header {
  display: flex;
  align-items: center;
  height: 48px;
}

h1{
  width: 30%;
}

.go {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

ul {
  display: flex;
  justify-content: flex-end;
}

.nav-link, .login, .signup {
  margin-right: 1em;
  text-decoration: none;
  cursor: pointer;
  line-height: 48px;
}

.login-signup-box{
  display: flex;
  margin-left: 18px;

}
.login, .signup {
  background-color: #f49507;
  /*width: 60px;*/
  /*width를 %로 하면 하나만 내려가서..*/
  height: auto;

}

header {
  background-color: #ee6e73;
}

.modal-box{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(28, 27, 27,0.7);
}
.off{
  display: none;
}

.login-box {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 30%;
  height: 70%;
  transform: translate(-50%);
  background-color: #fefefe;

}


/*header ,nav, ul{
  display: flex;
  align-items: center;
}
nav{
  justify-content: flex-end;
}*/



/*////////////////*/

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;

  padding: 0;
}

label {
  display: block;
  font-weight: 600;

}

input,
select,
textarea {
  display: block;
}
